.banner {
  background-color: #0ca045;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: aliceblue;
  }
  p {
    font-size: 2rem;
    font-weight: 500;
    color: #e3e4e6;
  }
}
