.feed-nav {
  a {
    text-decoration: none;
    color: #287e28;
    display: inline-block;
    border-bottom: 2px solid #287e28;
    padding-bottom: 0.5rem;
    font-weight: 700;
  }
  hr {
    border: none;
    border-bottom: 2px solid #e6e1e1;
    margin-bottom: 1rem;
  }
}
