.form_section {
  margin: 0 auto;
  max-width: 30rem;
  padding: 2rem;
  margin-top: 5rem;
  border: 2px solid #dbd8d8;
  border-radius: 5px;

  h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #4b4949;
    padding-bottom: 1rem;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #67b467;
  }
  p {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
  }
  .handleinput {
    width: 100%;
    margin: 0.4rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    border: 2px solid #dbd8d8;
    font-size: 1.3rem;
  }
}

.btn_sec {
  text-align: right;
  padding-top: 1rem;
  .btn_secondary {
    padding: 0.7rem 1.2rem;
    outline: none;
    border: none;
    background-color: #59c282;
    color: aliceblue;
    border-radius: 7px;
    font-size: 1.3rem;
  }
  input:disabled {
    background-color: #c55959;
    color: aliceblue;
  }
}

.error {
  color: red;
  text-align: left;
  padding-left: 1rem;
  font-size: 0.9rem;
}
