.main {
  width: 68%;
}

.Pagination {
  text-align: center;
  padding: 2rem 0;
  p {
    padding: 0.8rem 0;
    font-weight: 700;
  }
  span {
    border: 2px solid #26a026;
    padding: 1rem;
    display: inline-block;
    color: #26a026;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .active {
    background-color: #307e30;
    color: aliceblue !important;
  }
  .active:hover {
    background-color: #307e30;
    color: aliceblue !important;
    opacity: 0.8;
  }
}
