.tags {
  background-color: #f0e9e9;
  width: 30%;
  padding: 0.6rem 1.4rem;
  text-align: center;
  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
  .btn_secondary {
    background-color: gray;
    margin: 0.3rem;
    color: aliceblue;
    border-radius: 4px;
  }
}
