.single-post {
  padding-bottom: 3rem;
  .link {
    text-decoration: none;
  }
  .post-banner {
    background-color: #4a4a4d;
    padding: 2rem 0;
  }
  .author-img {
    width: 3.5rem;
    padding-right: 0.5rem;
  }
  .post-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: aliceblue;
    padding-bottom: 1rem;
  }
  .post-author {
    color: #35d135;
    padding-bottom: 0.4rem;
    font-size: 1.4rem;
    text-decoration: none;
  }
  .post-time {
    color: #e5e8eb;
  }
  .single-post-body {
    padding: 1rem 0;
    line-height: 1.8rem;
    font-size: 1.3rem;
    color: gray;
  }
  .post-footer {
    padding: 3rem 0;
    p {
      text-align: center;
    }
  }
  .green {
    text-decoration: none;
    color: #38e738;
  }
}

.button_section {
  margin-top: 1rem;
  .edit_btn {
    border: none;
    text-decoration: none;
    font-size: 1rem;
    background-color: #347edf;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-right: 1rem;
  }
  .delete_btn {
    border: none;
    text-decoration: none;
    font-size: 1rem;
    background-color: #f04553;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-right: 1rem;
  }
}

.tagList {
  list-style-type: none;
  margin: 1rem 0;

  display: inline-block;
  .tag {
    text-decoration: none;
    border: 1px solid #dfd9d9;
    padding: 0.4rem 0.6rem;
    border-radius: 25px;
    font-size: 0.8rem;
    margin-right: 0.4rem;
    color: #c2bbbb;
  }
}
