/* ---------------------------------------------------------------
Import partials
--------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------------
General
--------------------------------------------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nomatch {
  padding: 2rem 0;
}

.nomatch h2 {
  color: #beb3b3;
  font-size: 2rem;
}

.navbar {
  background-color: #f4f4f7;
  -webkit-box-shadow: 2px 2px 2px 1px #b9b5b533;
  box-shadow: 2px 2px 2px 1px #b9b5b533;
  padding: 0.7rem 0;
}

.navbar img {
  height: 2rem;
}

.navbar .nav-item {
  margin: 0 0.5rem;
}

.navbar .nav-item a {
  text-decoration: none;
  color: #b1acac;
  font-weight: 800;
}

.form_section {
  margin: 0 auto;
  max-width: 30rem;
  padding: 2rem;
  margin-top: 5rem;
  border: 2px solid #dbd8d8;
  border-radius: 5px;
  text-align: center;
}

.form_section h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #4b4949;
  padding-bottom: 1rem;
}

.form_section a {
  text-decoration: none;
  color: #67b467;
}

.form_section p {
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.form_section .handleinput {
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  border: 2px solid #dbd8d8;
  font-size: 1.3rem;
}

.btn_sec {
  text-align: right;
  padding-top: 1rem;
}

.btn_sec button {
  padding: 0.7rem 1.2rem;
  outline: none;
  border: none;
  background-color: #59c282;
  color: aliceblue;
  border-radius: 7px;
  font-size: 1.3rem;
}

.banner {
  background-color: #0ca045;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.banner h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: aliceblue;
}

.banner p {
  font-size: 2rem;
  font-weight: 500;
  color: #e3e4e6;
}

.main {
  width: 68%;
}

.post img {
  width: 3rem;
  height: 3rem;
}

.tags {
  background-color: #f0e9e9;
  width: 30%;
  padding: 0.6rem 1.4rem;
  text-align: center;
}

.tags h2 {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

.tags .btn_secondary {
  background-color: gray;
  margin: 0.3rem;
  color: aliceblue;
  border-radius: 4px;
}

.feed-nav a {
  text-decoration: none;
  color: #287e28;
  display: inline-block;
  border-bottom: 2px solid #287e28;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.feed-nav hr {
  border: none;
  border-bottom: 2px solid #e6e1e1;
  margin-bottom: 2rem;
}

/* ---------------------------------------------------------------
All Styles
--------------------------------------------------------------- */
.container {
  max-width: 60rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.active {
  color: #8d8888 !important;
}

.btn {
  border: none;
  outline: none;
  padding: 0.7rem 1.2rem;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */
