/* ---------------------------------------------------------------
Import partials
--------------------------------------------------------------- */

@import 'reset';
@import 'general';
@import 'header';
@import 'form';
@import 'banner';
@import 'home';
@import 'post';
@import 'sidebar';
@import 'feednav';
@import 'loader';
@import 'singlepost';
@import 'profile';
/* ---------------------------------------------------------------
All Styles
--------------------------------------------------------------- */
// modular class
.container {
  max-width: 70rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.active {
  color: #8d8888 !important;
}

.btn {
  border: none;
  outline: none;
  padding: 0.7rem 1.2rem;
  display: inline-block;
}
